.container {
    height: 100vh;
}

#offers {
    height: 100vh;
}

#carouselExampleIndicators {
    height: 100vh !important;
}

.carousel-inner {
    height: 90% !important;
}

.carousel-inner img {
    object-fit: contain !important;
}